<div class="container">
<form style="margin-top:40px" action="/home/write" method="POST">
  <div class="form-group">
    <label for="exampleInputPassword1">Title</label>
    <input type="text" name="title" class="form-control" id="exampleInputPassword1" 
    placeholder="Title">
  </div>
  <textarea class="form-control" rows="5" id="content" name="content"></textarea>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
<br>
<% @posts.each do |p| %>
    <div class="well">
       <span style="font-weight:bold;"><%= p.title %></span><br>
       <%= p.content %><br>
       <div class="form-group">
           <label for="exampleInputPassword1">리플 리스트</label><br>
       </div>
       <div id="reply_area_" + <% p.id %>>
           <% p.replies.each do |r| %>
           <p><%= r.content %></p>
           <% end %>
       </div>
       <div class="form-group">
           <label for="exampleInputPassword1">리플 쓰기</label><br>
       </div>
       <input type="hidden" name="id_of_post" id="post_id" value="<%= p.id %>">
       <input type="text" name="content" class="form-control" id="reply_<%= p.id %>" placeholder="content"><br>
       <button value="<%= p.id %>" type="submit" class="btn btn-default reply_submit">Submit</button>
    </div>
<% end %>
</div>
<script>
$(document).ready(function(){
    $(".reply_submit").click(function(){
        var post_id = this.value;
        var reply_content = $("#reply_" + post_id).val();
         $.ajax({
              method: "POST",
              url: "/home/reply_write",
              data: { content: reply_content, id_of_post: post_id},
              success: function(){
                  $("#reply_area_" + post_id).append("<p>" + reply_content + "</p>");
                  $("#reply_" + post_id).val('');
                   alert("리플 작성 성공");
              },
              error: function(){
                  alert("리플 작성 실패");
              }
          }).done(function(msg) {
               console.log("댓글 작성 완료");
          })
    });
});
</script>